<!DOCTYPE html>
<html>
<head>
  <title>Image Upload</title>
</head>
<body>
  <h1>Upload Image</h1>
  <form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="image" accept="image/*" required />
    <button type="submit">Upload</button>
  </form>

  <% if (imageUrl) { %>
  <h2>Image Link: <%=imageUrl%></h2>
    <h2>Uploaded Image:</h2>
    <img src="<%= imageUrl %>" width="300" />
  <% } %>
</body>
</html>

